!!! 5
html
  head
    title #{common.title}
    meta(name="description", content="#{common.description}")
    meta(name="keywords", content="#{common.keywords.join(', ')}")
    - if (common.client == "mobile")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black")
      meta(name="viewport", content="width=320, initial-scale=1.0, user-scalable=no")
    link(rel="icon", href="favicon.ico")
    link(rel="shortcut icon", href="favicon.ico")
    link(rel='stylesheet', href="#{staticVersion('/style/' + common.client + '/style.css')}")
    script(type="text/javascript", src="#{staticVersion('/script/jquery.js')}")
    script(type="text/javascript", src="#{staticVersion('/script/' + common.client + '.js')}")
    script(type="text/javascript") require("app");
    body!= body
